<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>appclips:ourown.chat</string>
		<string>applinks:ourown.chat</string>
		<string>webcredentials:ourown.chat</string>
		<string>appclips:ourown.chat/reservation</string>
		<string>appclips:ourown.chat/onboarding</string>
	</array>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.BENJI</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.Benji.Ours</string>
	</array>
</dict>
</plist>
